<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="main.bean.MainDTO" alias="main"/>
	    <typeAlias type="main.bean.NoticeDTO" alias="notice"/>
	    <typeAlias type="main.bean.FaqDTO" alias="faq" />
	    <typeAlias type="main.bean.InquiryDTO" alias="inquiry"/>
	</typeAliases>
</configuration> 
